WcfClientInf/Connected Services/WcfInformatike/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfInformatike.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfInformatike.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PhoneBookModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneBookModel" nillable="true" type="tns:PhoneBookModel" />
  <xs:complexType name="Output">
    <xs:sequence>
      <xs:element minOccurs="0" name="phoneBookModels" nillable="true" type="tns:ArrayOfPhoneBookModel" />
      <xs:element minOccurs="0" name="response" nillable="true" type="tns:Response" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Output" nillable="true" type="tns:Output" />
  <xs:complexType name="ArrayOfPhoneBookModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneBookModel" nillable="true" type="tns:PhoneBookModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoneBookModel" nillable="true" type="tns:ArrayOfPhoneBookModel" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseCode" type="tns:ResponseCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:simpleType name="ResponseCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="KO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseCode" nillable="true" type="tns:ResponseCode" />
</xs:schema>